{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <h1>Customers</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Province</th>
          <th scope="col">Postcode</th>
          <th scope="col">Created At</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        {% if customers %}
          {% for customer in customers %}
            <tr>
              <td>{{ customer.first_name }} {{ customer.last_name }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.city }}</td>
              <td>{{ customer.state }}</td>
              <td>{{ customer.zipcode }}</td>
              <td>{{ customer.created_at }}</td>
              <td>{{ customer.id }}</td>
              <br />
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  {% else %}
    <h1>Login</h1>
    <br />
    <form method="post" action="{% url 'home' %}">
      {% csrf_token %}
      <form>
        <div class="mb-3">
          <input type="text"
                 class="form-control"
                 name="username"
                 placeholder="Username"
                 required />
        </div>
        <div class="mb-3">
          <input type="password"
                 class="form-control"
                 name="password"
                 placeholder="Password"
                 required />
        </div>
        <br />
        <button type="submit" class="btn btn-outline-secondary">Login</button>
      </form>
    </form>
  {% endif %}
{% endblock content %}
